fastapi
uvicorn
pydantic
python-dotenv
langchain
langchain-community
langchain-core
langchain-groq
langchain-google-genai
langchain-huggingface
langchain-chroma
pandas
chromadb
sentence-transformers
beautifulsoup4
lxml
